body, html {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}
.container {
	padding: 0 !important;
}
.fieldWhole {
	background: url('images/kreuz.png');
}
ul.resourceList {
	padding: 5px;
	margin: 5px;
}
li.resource {
	margin-bottom: 15px;
}
.row li {
	border: 1px solid black;
	padding: 10px;
}
.container {
	position: relative;
	height: 1100px;
	width: 1000px; 
	border: 1px solid #000;
}
.enemySide {
	position: relative;
	height: 600px;
}
.playerSide {
	position: relative;
 	height: 150px;	
	border-top: 1px dashed #000;
 	border-radius: 50%;
}
.player {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	top: 30%;
	background-image: url('images/schloss.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.playerCount {
	position: relative;
	text-align: center;
	font-size: 20px;
	bottom: 3rem;
	background-image: url('images/Sklave.png');
}
.bottomMenu {
	position: relative;
	height: 250px;
	border-top: 1px solid #000;
	background: #fff;
}
.bottomMenu ul {
	padding-left: 15px;
}
.bottomMenu li {
	-webkit-transition: 250ms;
	-o-transition: 250ms;
	transition: 250ms;
}
.row li:hover{
	background: #ccc;
}
.sideMenu {
	position: absolute;
	width: 200px;
	top: 545px;
	right: 0;
	background: #fff;
	border: 1px solid #000;
}

.costs {
	font-size:18px;
	padding: 0 15px;
}
#farm, #logger, #stone, #metal, #Kaserne, #Stallungen, #Schießstand, #Sklavenmarkt, #Soldier, #university, #field, #forest, #stoneMine, #ironmine {
	float: left;
}

.costsDisplay span {
	padding: 6.5px;
	border-radius: 3px;
}

#/* Die einzelnen Baumenus bei Start des Spiels */

#bauMenu {
	display: inherit;

}

#KriegMenu {
	display: none;

}

#UnitMenu {
	display: none;

}

#researchMenu {
	display: none;

}

/*Die Kaufknopf der Einheit*/

div.SoldierBtn {
	display: none;
}

/*-------------Gegner----------------*/
.enemyBase {
	position: relative;
	display: none;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	background-image: url('images/gegnerschloss.png');
}
.enemyCount {
	position: relative;
    top: 7rem;
    font-size: 20px;
    text-align: center;
}
.baseActive {
	display: block;
}
/*-------------Einheiten----------------*/
.troops {
	position: absolute;
	display: none;
	width: 25px;
	height: 25px;
	color: #000;
	text-align: center;
}
.visible {
	display: block;
}
.enemyTroops {
	margin-top: 80px;
	left: 50%;
	transform: translateX(-50%);
	background-image: url('images/Gegner.png');

}